{% extends 'base.html.twig' %}

{% block title %}Symfony 2021 blog !
{% endblock %}


{% block body %}
	<section class="container my-3">

		<h1>Welcome on our new blog !</h1>
		<p>
			<small>It's made with Symfony 5</small>
		</p>


		{% for post in posts %}

			<div class="card my-2 p-2">
				<h4 class="card-content text-muted">
					{{post.Author}}
					a écrit :
				</h4>
				<a href="{{ path("app_post_show", {id:post.id}) }}">
					<h3 class="title">{{post.title}}</h3>
				</a>
				<p class="card-content">{{post.content}}</p>

				<div>
					{% if app.user and (app.user is same as(post.author)) %}
						<a href="{{ path('app_post_edit', {id:post.id}) }}" class=" btn btn-warning ">Edit post</a>
						<form method="POST" action="{{ path('app_post_delete', {id:post.id}) }}">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="csrf_token" value="{{ csrf_token('post_delete_' ~ post.id) }}">
							<input type="submit" class=" btn btn-danger my-2" value="Delete post">
						</form>

					{% endif %}

				</div>

			</div>

		{% endfor %}

	</section>
{% endblock %}
